body{
	margin:0px;
	background-color:; /*#A6EDF7;*/
	position: relative;
}


#container{
	 width: 60%;
	 background-color: white;
	 position: absolute;
	 left: 17%;
	 top: 200px;
	 margin-bottom: 200px;
	 padding-bottom: 200px;
}


h1{
	border:solid 0.01px grey;
	margin:0px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#title{
	 padding-top: 40px;
}
.form_divs{
	padding-top: 10px;
	padding-bottom: 10px;
  background-color:;
  padding-left: 80px;
  color:  #254B87; 
  
}

#bhavesh1 , #bhavesh2, #bhavesh3{
    background-color: #eee;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-top: 20px;
    border-radius: 10px;
}



.form_divs input{
   /* border-radius: 9px;*/
    width: 50%;
    height: 40px;
    border : solid #eee 1px;
    background-color: white;;
    
}
textarea{
	color: black;
	border: solid black 0.5px;
  border-radius: 2px;
} 
#images_upload{
	/* border: solid 0.5px grey;
	 border-radius : 2px;
	 border-top-width: 0px;*/
	 position: relative;
	 top: -7px;
	 padding-top: 40px;
	 padding-bottom: 40px;
	 margin-bottom:0px;
	 
}



.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
	  border-radius: 2px;
	  padding : 20px; 
	  z-index: 1;
	  background-color: white;
	 
	  
}

/*#submit{
	 position: relative;
	 top:-12px;
	 border: solid grey 0.5px;
	 border-radius: 2px;
	 border-top-width: 0px;
	 
}*/

#submit_button{ 
	/*position:relative; 
	left:65%;
	top: 20px;*/
	cursor: pointer;
	padding: 7px;
	font-size: 20px;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 5px;
	background-color: orangered;
	color: white;
	font-family: sans-serif;
}

#TNcondition a	{ text-decoration: none; font-family: sans-serif; }
#TNcondition a:hover { text-decoration: underline; font-family: serif; color: green;}






/* to_post Category selection*/ 

#categories{
    position: absolute;
    left: 12%;
    top: 120px;
    background-color: white;
    padding: 30px;
    display: none;
}

#close{
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 25px;
    padding-top: 10px;padding-bottom: 10px;
    padding-left: 20px; padding-right: 20px;
    cursor: pointer;

    
}

#close:hover{ background-color: red; color: white;}

.cat_images{
    padding: 15px;
     width:50px;
     height: 50px;
     border-radius: 100%;
     
}


.category_divs{
     cursor: pointer;
     width: 150px;
     height: 150px;
    text-align: center;
     
}

.category_divs:hover{
     border: solid red 3px;
}




























/*form_divs{
	  font-size: 19px;
	  padding: 15px;
}
	

#title:hover{
	position: relative;
}
/*#top_container{
	 position: absolute;
	 top: 30px;
	 left: 2.5%;
	 background-color: white;
	 width: 95%;
	 box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	 height: 80px;

}

header{
	background-color: red;
	position: relative;
	padding: 0px;
}

/*#selling{
	position: relative;
	left: 80%;
	top: 70%;
}

#logout{
	position: relative;
	left: 90%;
	top: 70%;

}*//******

#top_container table{
	 position:absolute;
	 right: 5%;
	 bottom: 10%;
}

#top_container a{
	text-decoration: none;
}

#main_container{
	 position: relative;
	 top: 110px;
	 left: 2.5%;
	 width: 95%;
	 background-color: white;
	 box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	 height: 500px;

}

#container{
	position: relative;
}
#upload_form{
	 position: absolute;
	 top: 50px;
	 left: 10%;
	 background-color: #eee;
}

#upload_form input{
	 position: absolute;
	 left: 150px;
}

upload_form textarea{
	 position: absolute;
	 left: 150px;
}